.featured {
  display: flex;
  gap: 20px;
}
.featured-item {
  padding: 40px 30px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  flex: 1;
  text-align: center;
  background-color: var(--color-white);
}
.featured-item img {
  margin-bottom: 20px;
}
.featured-item h5 {
  margin-bottom: 10px;
}
.featured-item p {
  font-size: 15px;
  line-height: 1.6em;
  font-weight: normal;
  font-family: var(--font-1);
  color: var(--text-color-2);
}
